@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,500&family=Quicksand:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styling */
body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: lightcyan;
    color: #333;
    line-height: 1.6;
}

  
.text-center {
    text-align: center;
}
.border-rounded {
    border-radius: 4px;
}

/* Wallet App container */
#walletApp {
    max-width: 400px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.transaction-container{
    max-width: 400px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Titles and Texts */

    
        
  
h1 {
    background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {

  
    color: #333;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #e7e7e7;
}
/* Balance Display */
#balance {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    background: #e7f5fe;
    color: #333;
}
/* Summary section styling */
#summary {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin-bottom: 20px;
}
.summary-item {
    flex: 1;
    text-align: center;
}
#expenses-summary {
    text-align: left;
}
#income-summary {
    text-align: right;
}
.summary-item h3 {
    margin-bottom: 0.5em;
}

/* Form Elements */
input, button {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus, button:focus {
    outline: none;
    border-color: #7f7fd5;
}

button {
    background-color: #7f7fd5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6772e5;
}

    
    
/* Transactions List */
#transactions {
    max-height: 200px;
    overflow-y: auto;
}
ul {
    list-style: none;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #f7f7f7;
}
li:nth-child(even) {
    background: #f7f7f7;
}
li .description {
    color: #333;
}
li .amount {
    font-weight: bold;
}
li .expense {
    color: #e74c3c;
}
li .income {
    color: #2ecc71;
}
#walletApp::after {
    content: '';
    display: block;
    height: 20px;
}

/* Responsive design */
@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }
    #walletApp {
        width: auto;
        margin: auto;
    }
}

/* Monthly Totals Styles */
#monthlyTotals {
  
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#monthlyTotals h2 {
    text-align: center;
    color: #333;
    margin-bottom: 16px;
}
#monthlyTotals > div {
    margin-bottom: 10px;
}
#monthlyTotals h3 {
    color: #555;
    margin: 10px 0;
}
#monthlyTotals p {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

/* Chart.js Canvas Styling */
canvas {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
